@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  background-image: radial-gradient(
      100% 50% at 100% 70%,
      rgba(124, 83, 151, 25%) 100%,
      transparent 100%
    ),
    radial-gradient(
      50% 50% at 0% 0%,
      rgba(124, 83, 151, 25%) 100%,
      transparent 100%
    );
  font-family: "Poppins";
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  background-color: hsl(276, 29%, 25%);
}

body {
  padding: 15px;
  margin: 0;
  color: white;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  position: relative;
}

h1 {
  text-align: center;
  font-size: 3em;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#search {
  text-align: center;
  margin: auto;
  display: flex;
  max-width: 60ch;
  flex-direction: column;

  input {
    font-size: 2em;
    border: 5px solid hsl(276, 29%, 65%);
    background: hsl(276, 29%, 35%);
    color: white;
    border-radius: 25px;
    padding: 5px 15px;
    font-family: inherit;
  }

  &.bottom {
    input {
      border-radius: 25px 25px 0 0;
    }
    #results-list {
      border: 5px solid hsl(276, 29%, 65%);
    }
  }

  #results {
    position: relative;

    #results-list {
      border-top: none;
      position: absolute;
      display: flex;
      z-index: 1;
      flex-direction: column;
      width: 100%;
      box-sizing: border-box;
      border-radius: 0 0 25px 25px;
      overflow: hidden;
      background: hsl(276, 29%, 35%);

      > div {
        padding: 10px;
      }

      & button {
        display: flex;
        appearance: none;
        border: none;
        gap: 15px;
        cursor: pointer;
        padding: 5px;
        background: none;
        color: inherit;
        font-family: inherit;

        &:not(:last-child) {
          border-bottom: 1px solid hsl(276, 29%, 65%);
        }

        &:hover {
          background: #00000020;
        }
      }
    }
  }
}

ul {
  display: grid;
  max-width: 160ch;
  margin: 30px auto;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 80vw), 1fr));
  gap: 15px;
  padding: 0;
  flex-wrap: wrap;

  & > li {
    background: hsl(276, 29%, 35%);
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    overflow: hidden;
    position: relative;

    & img {
      border: 5px solid transparent;
      border-radius: 15px;
    }

    & span {
      position: absolute;
      background-color: hsl(276, 29%, 35%);
      border-bottom-right-radius: 15px;
      font-weight: bold;

      padding: 0.5em 0.75em;
    }

    & div {
      margin: 0 10px 10px;
      padding: 0;
      gap: 5px;
      flex: 1;
      text-align: center;
      display: flex;
      flex-direction: column;

      & h2 {
        margin: 5px 0;
        flex: 1;
      }

      & ol {
        display: flex;
        margin: 0;
        padding: 0;
        gap: 10px;

        & li {
          display: block;
          margin: 0;
          flex: 1;

          & a {
            color: white;
            text-decoration: none;
            text-align: center;
            font-size: larger;
            padding: 0.3em;
            font-weight: bold;
            box-sizing: border-box;
            border-radius: 10px;

            display: flex;
            align-items: center;
            justify-content: center;

            background: hsl(276, 29%, 25%);
            &:hover {
              background: hsl(276, 29%, 15%);
            }

            & img {
              height: 36px;
              width: 36px;
            }
          }
        }
      }
    }
  }
}

h3 {
  text-align: center;
}

#pages {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & a {
    color: white;
    width: 100%;
    display: block;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    box-sizing: border-box;
    border-radius: 5px;

    background: hsl(276, 29%, 25%);
    &:hover {
      background: hsl(276, 29%, 15%);
    }
  }
}
